plugin: amazon.aws.aws_ec2
regions:
  - us-east-1
filters:
  tag:Project: devops-capstone
  instance-state-name: running
keyed_groups:
  - key: tags.Name
    prefix: role_
compose:
  ansible_host: private_ip_address
  ansible_user: ubuntu
